<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347121118555-ke7mgblq3l9hm34tvjdn6gegt2l4b3qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347121118555-ke7mgblq3l9hm34tvjdn6gegt2l4b3qq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347121118555-7j8a0vi16anv8t9g4vdbd0ndttue40bc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDw4r1XsixyIo7w2buaD3ZkCdhILQxwKek</string>
	<key>GCM_SENDER_ID</key>
	<string>347121118555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.tamu.STTR</string>
	<key>PROJECT_ID</key>
	<string>tamu-sttr</string>
	<key>STORAGE_BUCKET</key>
	<string>tamu-sttr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347121118555:ios:eb789b7764233cd803be7e</string>
	<key>DATABASE_URL</key>
	<string>https://tamu-sttr-default-rtdb.firebaseio.com</string>
</dict>
</plist>
